@import url('normalize.css');

body {
  font-size: 16px;
  font-family:  'Montserrat', sans-serif;
  color: #1d242c;
}

body.background {
  background-image: url("/images/background.jpg");
  background-color: white;
}

body * {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.error {
  color: #ac441e;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container--dark-bg {
  background-color: #1D242C;
}

.container--full-height {
  min-height: 100vh;
}

.section {
  padding: 2rem 0;
}

.content-wrapper {
  width: 75vw;
  max-width: 64rem;
}

.content {
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}

.content--invert {
  color: #f3f3f5;
}

.logo {
  width: 35vw;
  max-width: 12.5rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

.events {
  margin-top: 2rem;
}

.event {
  margin-bottom: 1.5rem;
}

.event__datetime {
  color: #cd8e78;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

.subscribe-form {

}

.subscribe-form input[type=text],
.subscribe-form input[type=email] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #777b80;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #1d242c;
}

.subscribe-form input:focus {
  outline: none;
}

.subscribe-form input::placeholder {
  color: #72767d;
}

.subscribe-form input:-ms-input-placeholder {
  color: #72767d;
}

.subscribe-form input::-ms-input-placeholder {
  color: #72767d;
}

.subscribe-form .button {
  border: none;
  background-color: transparent;
  padding: 1rem 1rem 1rem 0;
  color: #1d242c;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition:  all 250ms ease-in-out;
}

.subscribe-form .button:hover,
.subscribe-form .button:focus {
  padding-left: 0.25rem;
}


@media screen and (min-width: 42rem) {

  .events__wrapper {
    columns: 2;
    gap: 1rem;
  }

  .event {
    break-inside: avoid;
  }
}


@media screen and (min-width: 48rem) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
    margin: 0;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .subscribe-form input {
    font-size: 1.5rem;
  }

  .section {
    padding: 4rem 0;
  }
}


@media screen and (min-width: 80rem) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
    margin: 0;
  }

  p {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .section {
    padding: 8rem 0;
  }

}