@import url('https://thetungauditorium.com/css/normalize.css');

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #1d242c;
}

/* BASICS */

.SpektrixPage {
  padding-bottom: 3rem;
}

.ErrorMessage {
 color: #ac441e;
}

.Button,
.CheckoutLink {
  background-color: #deb4a5;
  border: 2px solid #deb4a5;
  padding: 0.625rem 1.5625rem;
  font-weight: 700;
  color: #1d242c;
  transition: all 250ms;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.Button:hover,
.Button:focus,
.CheckoutLink:hover,
.CheckoutLink:focus {
  background-color: transparent;
  color: #1d242c;
}


/* SEAT SELECTION */
.ChooseSeatsHeading {
  margin-bottom: 2rem;
}

.EventDetails {
  font-size: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.EventName {
  font-size: 1.2rem;
  font-weight: bold;
  order: 2;
}

.DateAndTime {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

.AreaAndVenueDetails {
  font-size: 1rem;
}

.SeatingAreaHeading {
  border-top: 1px solid #1d242c;
}

.SeatingAreaInstructions {
  font-weight: bold;
}

/* BASKET */

.Items {
}

.Items .Header {
  display: none;
}

.Items dt,
.Items dd {
  width: 100%;
}

.Items .Header .Breakdown {  
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.Items .Breakdown .Quantity,
.Items .Breakdown .Total {
  flex: 1;
}

.Items .Breakdown .Total {
  text-align: right;
}

.Items dt.Item.Instance {
  width: 100%;
  font-size: 1rem;
  margin: 0 0 1rem;
  font-weight: 700;
}

.Items dd.Item.Instance {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  margin: 0 0 1rem;
  font-weight: 700;
}

.Items .Instance .Details {
  width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: normal;
}

.Items .ViewDetails {
  flex: 1;
  font-size: 1rem;
  font-weight: normal;
}

.Items .ViewDetails a {
  color: #1d242c;
}

.Items .ViewDetails + .Breakdown {
  display: flex;
  margin: 0 0 1rem;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
}

.Items .Buttons {
  flex: 1;
  margin-right: 0.625rem;
}

.ItemEditButton,
.ItemDeleteButton {
  font-size: 1rem;
  padding: 0.3125rem 0.625rem;
}

.Footer {
  flex: 1;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  border-top: 1px solid #1d242c;
  padding-top: 1rem;
}

dt.Footer {
  display: none;
}

.Footer .Breakdown { 
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.OptionalMessage {
  margin-bottom: 1rem;
}

@media screen and (min-width: 48rem) {
  .Items {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .Items .Header {
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 0 1rem;
    font-weight: 700;
    border-bottom: 1px solid #1d242c;
    padding-bottom: 1rem;
  }

  .Items dt {
    width: 75%;
  }

  .Items dd {
    width: 25%;
  }

  .Items dt.Item.Instance {
    width: 75%;
  }

  .Items .ViewDetails + .Breakdown .Quantity .Label,
  .Items .ViewDetails + .Breakdown .Total .Label {
    display: none;
  }

  .Items .ViewDetails + .Breakdown {
    position: absolute;
    top: 3.125rem;
    right: 0;
    width: 25%;
    margin: 0;
  }

}

.TicketType label {
  font-weight:  700;
  margin-bottom: 0.5rem;
}

.TicketType input {
  padding: 0.625rem 1rem;
  border: 2px solid #d1d3d4;
  margin: 0 0.5rem 1rem;
  width: 1rem;
  text-align: center;
}




/* STANDARD TYPOGRAPHY */
h1 {
  font-size: 1.75rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.2;
  margin: 0 0 0.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  margin-top:  0;
}


@media screen and (min-width: 48rem) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
    margin: 0 0 0.5rem;
  }

  p {
    font-size: 1.2rem;
  }

}


@media screen and (min-width: 80rem) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
    margin: 0 0 0.5rem;
  }

  p {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

}

/* Checkout */

.spx-main-container {
  line-height: 1.5;
}

.spx-section-container {
  border-top: 1px solid #eed9d2;
  margin-top: 1rem;
}

.spx-section-container:first-child {
  border-top: none;
  margin-top: 0;
}

.spx-subsection-container {
  margin-bottom: 2rem;
}

.spx-section-container,
.spx-subsection-container {
  position: relative;
}

.spx-section-container,
.spx-subsection-container {
  position: relative;
}

.spx-link-edit {  
  position: absolute;
  right: 0;
  font-size: 1rem;
  color: #1d242c;
}

.spx-section-container .spx-link-edit {  
  top: 0.625rem;
}

.spx-subsection-container .spx-link-edit {  
  top: 0.3125rem;
}

.spx-list-summary {
  list-style: none;
  padding: 0;
  margin: 0;
}

.spx-list-item {
  margin-bottom: 1rem;
}

.spx-sublist-summary {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.spx-data-email,
.spx-data-phone-number {
  display: block;
}

.spx-data-email:before {
  content: "Email: ";
  font-weight: bold;
}

.spx-data-first-name:before {
  content: "Name: ";
  font-weight: bold;
}

.spx-data-phone-number:before {
  content: "Phone: ";
  font-weight: bold;
}

.spx-label-field {
  font-weight: 700;
  display: block;
}

.spx-input-text {
  padding: 0.3125rem 1rem;
  border: 2px solid #d1d3d4;
  margin: 0 0 1rem 0.5rem;
}

.spx-button-tertiary {
  background-color: #deb4a5;
  border: 2px solid #deb4a5;
  font-size: 1rem;
  padding: 0.3125rem 0.625rem;
  font-weight: 700;
  color: #1d242c;
  transition: all 250ms;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.spx-button-tertiary:hover,
.spx-button-tertiary:focus {
  background-color: transparent;
  color: #1d242c;
}


.spx-label-field__checkout--credit {
  display: inline-block;
}

.spx-input-text__checkout--credit {
  margin: 0 0.5rem;
}

.spx-input-checkbox {
  display: inline-block;
  margin-right: 0.5rem;
}

.spx-text-copy__checkout--credit {
  margin: 1rem 0;
  display: block;
}

.spx-text-copy__checkout--credit .spx-text-copy__checkout--credit {
  display: inline;
}

.spx-field-container__checkout--credit {
  margin-top:  0.5rem;
}


.spx-button-primary {
  background-color: #deb4a5;
  border: 2px solid #deb4a5;
  padding: 0.625rem 1.5625rem;
  font-weight: 700;
  color: #1d242c;
  transition: all 250ms;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.spx-button-primary:hover,
.spx-button-primary:focus {
  background-color: transparent;
  color: #1d242c;
}

.spx-list-item__checkout--final-summary .spx-intent-distinguishable {
  font-weight: 700;
}